{# Purpose of this template: Display item information for previewing from other modules #}
<dl id="movie{{ movie.getKey() }}">
<dt>{{ movie|muvideomodule_formattedTitle|notifyFilters('video.filter_hooks.movies.filter')|safeHtml }}</dt>
<dd>{% if movie.poster is not empty and movie.posterMeta|default %}
            <a href="{{ movie.posterUrl }}" title="{{ movie|muvideomodule_formattedTitle|e('html_attr') }}"{% if movie.posterMeta.isImage %} class="image-link"{% endif %}>
{% if movie.posterMeta.isImage %}
    {% set thumbOptions = attribute(thumbRuntimeOptions, 'moviePoster') %}
    <img src="{{ movie.poster.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ movie|muvideomodule_formattedTitle|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
{% else %}
    {{ __('Download') }} ({{ movie.posterMeta.size|muvideomodule_fileSize(movie.poster.getPathname(), false, false) }})
{% endif %}
</a>
{% else %}&nbsp;{% endif %}
</dd>
{% if movie.description is not empty %}<dd>{{ movie.description }}</dd>{% endif %}
{% if featureActivationHelper.isEnabled(constant('MU\\VideoModule\\Helper\\FeatureActivationHelper::CATEGORIES'), 'movie') %}
    <dd>
        <dl class="category-list">
        {% for propName, catMapping in movie.categories %}
            <dt>{{ propName }}</dt>
            <dd>{{ catMapping.category.display_name[app.request.locale]|default(catMapping.category.name) }}</dd>
        {% endfor %}
        </dl>
    </dd>
{% endif %}
</dl>
