{# Purpose of this template: Display a popup selector of playlists for scribite integration #}
{% set useFinder = true %}
{% extends 'MUVideoModule::raw.html.twig' %}
{% block title __('Search and select playlist') %}
{% block content %}
    <div class="container">
        <div class="zikula-bootstrap-tab-container">
            <ul class="nav nav-tabs">
            {% set activatedObjectTypes = getModVar('MUVideoModule', 'enabledFinderTypes', []) %}
            {% if 'collection' in activatedObjectTypes %}
                <li{{ objectType == 'collection' ? ' class="active"' : '' }}><a href="{{ path('muvideomodule_external_finder', {objectType: 'collection', editor: editorName}) }}" title="{{ __('Search and select collection') }}">{{ __('Collections') }}</a></li>
            {% endif %}
            {% if 'movie' in activatedObjectTypes %}
                <li{{ objectType == 'movie' ? ' class="active"' : '' }}><a href="{{ path('muvideomodule_external_finder', {objectType: 'movie', editor: editorName}) }}" title="{{ __('Search and select movie') }}">{{ __('Movies') }}</a></li>
            {% endif %}
            {% if 'playlist' in activatedObjectTypes %}
                <li{{ objectType == 'playlist' ? ' class="active"' : '' }}><a href="{{ path('muvideomodule_external_finder', {objectType: 'playlist', editor: editorName}) }}" title="{{ __('Search and select playlist') }}">{{ __('Playlists') }}</a></li>
            {% endif %}
            </ul>
        </div>
        {% form_theme finderForm with [
            '@MUVideoModule/Form/bootstrap_3.html.twig',
            'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
        ] %}
        {{ form_start(finderForm, {attr: {id: 'mUVideoModuleSelectorForm'}}) }}
        {{ form_errors(finderForm) }}
        <fieldset>
            <legend>{{ __('Search and select playlist') }}</legend>
            {% if featureActivationHelper.isEnabled(constant('MU\\VideoModule\\Helper\\FeatureActivationHelper::CATEGORIES'), 'playlist') %}
                {{ form_row(finderForm.categories) }}
            {% endif %}
            {{ form_row(finderForm.pasteAs) }}
            <br />
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ __('Playlist') }}:</label>
                <div class="col-sm-9">
                    <div id="muvideomoduleItemContainer">
                        <ul>
                            {% for playlist in items %}
                                <li>
                                    {% set itemId = playlist.getKey() %}
                                    <a href="#" data-itemid="{{ itemId }}">
                                        {{ playlist|muvideomodule_formattedTitle }}
                                    </a>
                                    <input type="hidden" id="path{{ itemId }}" value="{{ path('muvideomodule_playlist_display', {'id': playlist.getId()}) }}" />
                                    <input type="hidden" id="url{{ itemId }}" value="{{ url('muvideomodule_playlist_display', {'id': playlist.getId()}) }}" />
                                    <input type="hidden" id="title{{ itemId }}" value="{{ playlist|muvideomodule_formattedTitle|e('html_attr') }}" />
                                    <input type="hidden" id="desc{{ itemId }}" value="{% set description %}{% if playlist.description is not empty %}{{ playlist.description }}{% endif %}
                                    {% endset %}{{ description|striptags|e('html_attr') }}" />
                                </li>
                            {% else %}
                                <li>{{ __('No playlists found.') }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            {{ form_row(finderForm.sort) }}
            {{ form_row(finderForm.sortdir) }}
            {{ form_row(finderForm.num) }}
            {{ form_row(finderForm.q) }}
            <div>
                {{ pager({display: 'page', rowcount: pager.numitems, limit: pager.itemsperpage, posvar: 'pos', maxpages: 10, route: 'muvideomodule_external_finder'}) }}
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    {{ form_widget(finderForm.update) }}
                    {{ form_widget(finderForm.cancel) }}
                </div>
            </div>
        </fieldset>
        {{ form_end(finderForm) }}
    </div>

    {#
    <div class="muvideomodule-finderform">
        <fieldset>
            {{ render(controller('MUVideoModule:Playlist:edit')) }}
        </fieldset>
    </div>
    #}
{% endblock %}
