{# purpose of this template: movies delete confirmation view #}
{% extends routeArea == 'admin' ? 'MUVideoModule::adminBase.html.twig' : 'MUVideoModule::base.html.twig' %}
{% block title __('Delete movie') %}
{% block admin_page_icon 'trash-o' %}
{% block content %}
    <div class="muvideomodule-movie muvideomodule-delete">
        <p class="alert alert-warning">{{ __f('Do you really want to delete this movie: "%name%" ?', {'%name%': movie|muvideomodule_formattedTitle}) }}</p>

        {% form_theme deleteForm with [
            '@MUVideoModule/Form/bootstrap_3.html.twig',
            'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
        ] %}
        {{ form_start(deleteForm) }}
        {{ form_errors(deleteForm) }}

        {% if formHookTemplates|length > 0 %}
            <fieldset>
                {% for hookTemplate in formHookTemplates %}
                    {{ include(hookTemplate.0, hookTemplate.1, ignore_missing = true) }}
                {% endfor %}
            </fieldset>
        {% endif %}
        <fieldset>
            <legend>{{ __('Confirmation prompt') }}</legend>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    {{ form_widget(deleteForm.delete) }}
                    {{ form_widget(deleteForm.cancel) }}
                </div>
            </div>
        </fieldset>
        {{ form_end(deleteForm) }}

        {{ block('display_hooks') }}
    </div>
{% endblock %}
{% block display_hooks %}
    {{ notifyDisplayHooks(eventName='muvideomodule.ui_hooks.movies.form_delete', id=movie.getKey()) }}
{% endblock %}
