{# Purpose of this template: Display movies within an external context #}
<dl>
    {% for movie in items %}
        <dt>{{ movie|muvideomodule_formattedTitle }}</dt>
        {% if movie.description %}
            <dd>{{ movie.description|striptags|truncate(200, true, '&hellip;') }}</dd>
        {% endif %}
        <dd><a href="{{ path('muvideomodule_movie_display', {'id': movie.getId()}) }}">{{ __('Read more') }}</a>
        </dd>
    {% else %}
        <dt>{{ __('No entries found.') }}</dt>
    {% endfor %}
</dl>
